:root {
    --textcolor: #213159;
    --background: #f7f7f7;
    --accents: #D1512D;
    --border-size: 2px;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img {
    height: auto;
    width: 600px;
    max-width: 100%;
}

.about-text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.about-main {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: var(--accents);
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: var(--textcolor);
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    color: var(--textcolor);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 45px;
}

button {
    background: var(--accents);
    color: var(--textcolor);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}

/*Services Start*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper h1 {
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 600;
    color: var(--accents);
}

.wrapper p {
    color: var(--textcolor);
}

.content-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.services-card {
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.services-card ion-icon {
    margin: 20px;
    color: var(--accents);
    font-size: 30px;
}

.services-card h2 {
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--textcolor);
}

.services-card p {
    color: var(--textcolor);
    text-align: center;
}

.services-card:hover p {
    color: var(--textcolor);
}

.services-card:hover h2 {
    font-weight: 600;
}


@media (max-width: 991px) {
    .wrapper {
        padding: 25px;
    }

    .wrapper h1 {
        font-size: 2.5em;
        font-weight: 600;
    }

    .content-box {
        flex-direction: column;
        width: 100%;
    }

    .services-card {
        min-width: 300px;
        margin: 10px auto;
    }
}
/*Services End*/