:root {
    --textcolor: #213159;
    --background: #f7f7f7;
    --accents: #D1512D;
    --border-size: 2px;
}


.driver-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.driver-cards {
    width: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    transition: 0.2s;
}

.driver-card-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.driver-card-body h2 {
    text-align: center;
    color: var(--accents);
}

.driver-card-body p {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    color: var(--textcolor);
}

.driver-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.driver-card-footer button {
    width: 150px;
    background: black;
    color: white;
    border-radius: 15px;
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid black;
    transition: 0.2s;
}

.driver-card-footer button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.driver-cards:hover {
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}




