* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --textcolor: #213159;
    --background: #f7f7f7;
    --accents: #D1512D;
    --border-size: 2px;
}

/*Nav Bar Start*/
nav {
    height: 80px;
    width: 100%;
    background-color: var(--background);
}

.logo a {
    color: var(--accents);
    font-size: 2em;
    line-height: 80px;
    padding: 0 100px 0 40px;
    text-decoration: none;
    margin-right: -20px;
}

nav ul {
    float: right;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a  {
    color: var(--textcolor);
    font-size: 1em;
    padding: 7px 13px;
    text-decoration: none;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: var(--accents);
    transition: 0.5s;
}

/*Hamburger Menu Start*/
.checkbtn {
    font-size: 25px;
    color: var(--textcolor);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
/*Hamburger Menu End*/

/*Media Query for Nav Start*/
@media (max-width: 990px) {
    label.logo a{
        font-size: 20px;

    }
    nav ul li a {
        font-size: 12px;
    }
}
/*Galaxy S8+ and Galaxy Fold START*/
@media (max-width: 360px) {
    label.logo a{
        font-size: 12px;
        margin-left: -30px;
    }
}

@media (max-width: 1165px) {
    nav ul li a {
        padding: 0 2px 0 2px;

    }
}
/*Galaxy S8+ and Galaxy Fold END*/

@media (max-width:980px) {
    .checkbtn {
        display: block;
        margin-left: -20px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--accents);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 999;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li  a {
        font-size: 20px;
    }
    nav ul li a:hover {
        background: none;
        color:var(--background);
    }
    #check:checked ~ ul {
        left: 0;
    }
    ul li .search-container {
        display: none;
    }
}
/*Media Query for Nav End*/
/*Nav Bar End*/

/*Slider Start*/
#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s Slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes Slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
/*Slider End*/

/*More Car Button Start*/
.btn-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 90px;
}

.main-bottom {
    display: flex;
    flex-direction: column;
}

.btn {
    background: none;
    border: var(--border-size) solid var(--accents);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

@media (max-width:700px) {
    .btn {
        font-size: 10px;
        min-width: 50px;
    }
}
.btn:hover {
    color: #213159;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--accents);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn-border::before {
    transform: scaleX(0);
}

.btn-border:hover::before {
    transform: scaleX(1);
}
/*More Cars Button End*/

hr {
    border: dotted var(--accents) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.hrlast {
    border: dotted white 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.headhr {
    border: dotted white 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;

}
/*Horizontal Card Start*/
.hcard {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 4rem auto 0 auto;
    border-radius: 15px;
}

.hcard img {
    height: 250px;
    width: 100%;
    border-radius: 15px;  
}

.text1 h1 {
    color: var(--accents);
    margin: 0;
}

.text1 p {
    color: var(--textcolor);
    margin: 10px 15px 10px 0;
}

@media (max-width: 1100px) {
    .hcard  {
        flex-wrap: wrap;
    }

    .hcard img {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 560px) {
    .hcard  {
        flex-wrap: wrap;
    }

    .hcard img {
        width: 100%;
        height: 120px;
    }
}
/*Horizontal Card End*/

/*3 Card Start*/
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 270px;
    margin: 10px; 
    border-radius: 15px;  
}

.card-image {
    height: 170px;
    width: 270px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card h2 {
    padding: 10px;
    color: var(--accents);
}

.card p {
    padding: 10px;
    color: var(--textcolor);
}

.card a {
    background-color: var(--background);
    color: var(--accents);
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 50px 50px 0 50px;
    text-decoration: none;
}

.card:hover {
    background-color: var(--background);
    cursor: default;
    transform: scale(1.01);
    transition: all 0.4s ease;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
/*3 Card End*/

/*Middle Section Start*/
.contact-me {
    width: 100%;
    height: 290px;
    background: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: var(--accents);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}
/*Middle Section End*/

/*Search Bar Start*/
.button {
	display: inline-block;
	margin: 2px 2px;
	background-color: var(--background);
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: var(--textcolor);
	text-decoration: none;
	cursor: pointer;
}

.button:hover {
	transition-duration: 0.4s;
	background-color: var(--background);
    color: var(--textcolor);
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px 4px -5px;
	height: 62px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
    border-radius: 3px;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 52px;
	z-index: 10;
	transition-duration: 0.4s;
}

.search:focus {
	width: 100px; /* Bar width+1px */
	padding: 0 16px 0 0;
}
/*Search Bar End*/

/*Review Section Start*/
#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: var(--accents);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: var(--textcolor);
    font-size: 0.8rem;
}

.reviews {
    color: yellow;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: var(--textcolor);
}


@media (max-wdith:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }    
}

@media (max-width:790px) {
    .testimonial-box {
        width: 100%;
    }
}

@media (max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .reviews {
        margin-top: 10px;
    }
}
/*Review Section End*/

/*Footer Start*/
footer {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: var(--background);
}

footer .footer-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

footer .footer-container .footer-box h2 {
	position: relative;
	color: #D1512D;
	font-weight: 500;
	margin-bottom: 15px;
}

footer .footer-container .footer-box h2::before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #213159;
}

footer .footer-container .footer-box p {
	color: #213159;
}

.logos-footer {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-gap: 10px;
}

.logos-footer li {
	list-style: none;
}

.logos-footer li a {
	display: inline-block;
	width: 48px;
	height: 49px;
	background: #D1512D;
	display: grid;
	align-content: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 4px;
}

.logos-footer .footer-icons {
    color: #213159;
}

.logos-footer li a:hover {
	opacity: 0.7;
}

.logos-footer li a .fa {
	color: #213159;
	font-size: 20px;
}

.quicklinks {
	position: relative;
}

.quicklinks li {
	list-style: none;
}

.quicklinks li a {
	color: #213159;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}

.quicklinks li a:hover {
	color: #D1512D;
}

.footer-info {
	position: relative;
}

.footer-info li {
	display: grid;
	grid-template-columns: 30px 1fr;
	margin-bottom: 16px;
}

.footer-info li span:nth-child(1) {
	color: #D1512D;
	font-size: 20px;
}

.footer-info li span {
	color: #213159;
}

.footer-info a {
	color: #213159;
	text-decoration: none;
}

.footer-info a:hover {
	color: #D1512D;
}

.copyrightext {
	width: 100%;
	background-color: #f7f7f7;
	padding: 8px 100px;
	text-align: center;
	color: #213159;
}

@media (max-width: 991px) {
	footer {
		padding: 40px;
	}

	footer .footer-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyrightext {
		padding: 8px 40px;
	}
}

@media (max-width:768px) {

	footer .footer-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
/*Footer Start*/

/*Section Headings Start*/
.section-headings {
	text-align: left;
	margin: auto 100px 60px 100px;
    border-bottom: 1px double var(--textcolor);
}

.section-headings h2 {
	font-size: 30px;
	font-weight: 400;
	color: var(--accents);
	margin-bottom: 15px;
}
/*Section Headings End*/

/*Video Start*/
.video-wrapper {
    height: 500px;
    position: relative;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Video End*/